/*
  File origin: VS1LAB A1b  

  CSS style is BEM. Classes used for CSS, IDs for JavaScript querying (future use).
  CSS variables used for clarity and themability (e.g. through SSR). 
  Inherited box sizing used for ease of including 3rd party content-box components.
*/

/* Global styling */

html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;

  /* This approach prevents issues with 3rd party content-box components */
  box-sizing: inherit;
}


/* Variables (example: see declaration for "a" below) */

:root {
  --link-color: #00B7FF;
  --background-color: #efefef;
  --border-color: #cdcdcd;
  --gray-color: #666;
}


/* HTML element styles */

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  color: var(--link-color);
}

/* ### TODO ### Styles for other HTML elements */

#tag-form label, .discovery__search label{
  color: grey;
  display: block;
  margin-bottom: 1em;
}

fieldset{
  padding: 1em;
  margin-top: 0.5em;
}

.tagging input, .discovery input{
  padding: 0.5em;
  border: 0.1em solid grey;
  width: clamp(100px, 40%, 100%);
  display: block;
  margin-bottom: 1em;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  border: 1px solid grey;
  padding: 0.5em;
  margin-bottom: 0.5em;
  border-radius: 0px;
  background-color: lightgrey;
  color: blue;
}

img {
  max-width: 100%;
  height: auto;
}


/* ... your code here ... */


/* Grid styles (no changes required) */

.row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex: 1;
}

.col-1 {
  width: calc(8.33% - 1rem);
}

.col-2 {
  width: calc(16.66% - 1rem);
}

.col-3 {
  width: calc(25% - 1rem);
}

.col-4 {
  width: calc(33.33% - 1rem);
}

.col-5 {
  width: calc(41.66% - 1rem);
}

.col-6 {
  width: calc(50% - 1rem);
}

.col-7 {
  width: calc(58.33% - 1rem);
}

.col-8 {
  width: calc(66.66% - 1rem);
}

.col-9 {
  width: calc(75% - 1rem);
}

.col-10 {
  width: calc(83.33% - 1rem);
}

.col-11 {
  width: calc(91.66% - 1rem);
}

.col-12 {
  width: calc(100% - 1rem);
}


/* ### TODO ### Styles for Header Component */

header{
  background-color: darkseagreen;
  padding: 30px;
  max-height: 100px;
}
.header__image{
  height: 50px;
  margin-left: 0%;
}
.header__titel{
  margin: auto;
}
.header__navigation{
  margin-right: 0%;
}



/* ### TODO ### Styles for Main Component */

main{
  padding: 50px;
}


/* ### TODO ### Styles for Tagging component */



#longitude_input, #latitude_input {
  background: gainsboro;
}


/* ### TODO ### Styles for Discovery component */

/* ... your code here ... */
.discovery__wrapper {
  flex-wrap: wrap;
}

.discovery__taglist,
.discovery__map {
  flex: 1 1 300px;
}

/* ### TODO ### Styles for Footer Component */

footer{
  background-color: lightgray;
  padding: 30px;
}


/* ### TODO ### Media Queries */

@media (max-width: 600px) {
  .main.row {
    flex-direction: column;
  }

  .col-4,
  .col-8 {
    width: 100%;
  }

  .discovery__wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
#map { 
   height: 500px;
 }